<ion-view view-title="Áreas">
    <ion-content>
    <ion-list>
        <ion-item class="item-icon-right" href="#/menu/areas/simulated">
            Administração
            <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
        <ion-item class="item-icon-right" href="#/menu/areas/simulated">
            Engenharia
            <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
        <ion-item class="item-icon-right" href="#/menu/areas/simulated">
            Infraestrutura
            <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
    </ion-list>
    </ion-content>
</ion-view>