<ion-view view-title="Ajuda">
    <ion-content>
        <ion-list class="list">

            <div class="item item-divider">
                Sobre
            </div>
            <ion-item class="item">
                Versão 0.1.0
            </ion-item>
            <ion-item class="item">
                Desenvolvido por TEA
            </ion-item>

            <div class="item item-divider">
                F.A.Q.
            </div>
            <ion-item class="item">
                Como ganhar pontos?
            </ion-item>
            <ion-item class="item">
                Como mudar de faixa?
            </ion-item>
            <ion-item class="item">
                Como ganhar DAN's?
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>