<ion-view view-title="Perfil">
    <ion-header-bar class="bar-subheader belt item item-avatar">
        <img src="../../img/ionic.png">
        <h2>{{me.name}}</h2>
        <p>
            <span class="item-note row-no-padding" ng-repeat="dan in me.dans">
                <i class="medium dark" ng-class="dan=='infra'?'ion-settings':''"></i>
                <i class="medium dark" ng-class="dan=='adm'?'ion-android-list':''"></i>
                <i class="medium dark" ng-class="dan=='eng'?'ion-code-working':''"></i>
            </span>
            {{me.score}} pontos
        </p>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                Simulados
            </ion-item>
            <ion-item class="item-icon-right" href="#/app/teste">
                Administração
                <span class="item-note">30%</span>
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#">
                Engenharia
                <span class="item-note">80%</span>
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#">
                Infraestrutura
                <span class="item-note">60%</span>
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-divider">
                Avisos
            </ion-item>
            <div class="card">
                <ion-item class="text-center item item-text-wrap energized-bg">
                    Sua prova de avanço de faixa deverá ser realizada em 30/10/2015.
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
