<ion-view view-title="Progresso">
    <ion-content>
    <ion-list>
        <ion-item class="item-icon-right">
            Ganhou 100 pontos
            <i class="icon ion-flag"></i>
        </ion-item>
        <ion-item class="item-icon-right">
            Conquistou a Faixa Amarela
            <i class="icon ion-bookmark energized"></i>
        </ion-item>
        <ion-item class="item-icon-right ">
            Ganhou 150 pontos
            <i class="icon ion-flag"></i>
        </ion-item>
        <ion-item class="item-icon-right">
            Ganhou 200 pontos
            <i class="icon ion-flag"></i>
        </ion-item>
    </ion-list>
    </ion-content>
</ion-view>