<ion-view view-title="Ranking">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-more" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Pesquisar">
            </label>
        </div>

        <ion-list>
            <a class="item item-avatar border-belt dark-border" href="#">
                <img src="../../img/ionic.png">
                <h2>Ozzy Osburne</h2>
                <p>
                <span class="item-note small dark row-no-padding">
                    <i class="ion-settings"></i>
                    <i class="ion-code-working"></i>
                    <i class="ion-android-list"></i>
                </span>
                    6893
                </p>
            </a>

            <a class="item item-avatar border-belt dark-border" href="#">
                <img src="../../img/ionic.png">
                <h2>Ozzy Osburne</h2>
                <p>
                <span class="item-note small dark row-no-padding">
                    <i class="ion-settings"></i>
                    <i class="ion-code-working"></i>
                    <i class="ion-android-list"></i>
                </span>
                    6893
                </p>
            </a>

            <a class="item item-avatar border-belt royal-border" href="#">
                <img src="../../img/ionic.png">
                <h2>Kurt Kobain</h2>
                <p>
                <span class="item-note small dark row-no-padding">
                    <i class="ion-settings"></i>
                    <i class="ion-code-working"></i>
                    <i class="ion-android-list"></i>
                </span>
                    6893
                </p>
            </a>

            <a class="item item-avatar border-belt royal-border" href="#">
                <img src="../../img/ionic.png">
                <h2>Kurt Kobain</h2>
                <p>
                <span class="item-note small dark row-no-padding">
                    <i class="ion-settings"></i>
                    <i class="ion-code-working"></i>
                    <i class="ion-android-list"></i>
                </span>
                    6893
                </p>
            </a>

            <a class="item item-avatar border-belt energized-border" href="#">
                <img src="../../img/ionic.png">
                <h2>Roger Waters</h2>
                <p>
                <span class="item-note small dark row-no-padding">
                    <i class="ion-settings"></i>
                    <i class="ion-code-working"></i>
                    <i class="ion-android-list"></i>
                </span>
                    6893
                </p>
            </a>

            <a class="item item-avatar border-belt energized-border" href="#">
                <img src="../../img/ionic.png">
                <h2>Bob Dylan</h2>
                <p>
                <span class="item-note small dark row-no-padding">
                    <i class="ion-settings"></i>
                    <i class="ion-code-working"></i>
                    <i class="ion-android-list"></i>
                </span>
                    6893
                </p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>