<ion-view view-title="Simulados">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right" href="#/menu/areas/simulated/questions">
                Simulado 1
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#/menu/areas/simulated/questions">
                Simulado 2
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#/menu/areas/simulated/questions">
                Simulado 3
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>