<ion-view view-title="Simulados">
    <ion-content>
    <ion-list>
        <ion-item class="item-icon-right" href="#">
            Administração
            <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
        <ion-item class="item-icon-right" href="#">
            Engenharia
            <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
        <ion-item class="item-icon-right" href="#">
            Infraestrutura
            <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
    </ion-list>
    </ion-content>
</ion-view>