<ion-view view-title="Perfil">
    <div class="bar-subheader item item-avatar">
        <img src="../../img/ionic.png">
        <h2>Leonardo Freitas de Souza</h2>
        <p>
            <span class="item-note row-no-padding">
                <i class="medium dark ion-settings"></i>
                <i class="medium dark ion-code-working"></i>
                <i class="medium dark ion-android-list"></i>
            </span>
            200 pontos
        </p>
    </div>
    <ion-content style="top:114px;">
        <ion-list>
            <ion-item class="item-divider">
                Simulados
            </ion-item>
            <ion-item class="item-icon-right" href="#/app/teste">
                Administração
                <span class="item-note">30%</span>
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#">
                Engenharia
                <span class="item-note">80%</span>
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#">
                Infraestrutura
                <span class="item-note">60%</span>
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-divider">
                Avisos
            </ion-item>
            <div class="card">
                <ion-item class="text-center item item-text-wrap energized-bg">
                    Sua prova de avanço de faixa deverá ser realizada em 30/10/2015.
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
