<ion-view hide-nav-bar="true" view-title="Login">
    <ion-content>
        <div class="row responsive-sm padding">
            <div class="col col-33 col-offset-33 text-center padding">
                <img src="./img/runmile.png" class="full-image">
            </div>
        </div>
        <form name="login" class="row responsive-sm">
            <div class="col col-50 col-offset-25 padding-horizontal">
                <label class="item item-input item-floating-label royal-border item-borderless border-bottom">
                    <span class="input-label royal">Matrícula</span>
                    <input type="tel" name="enrollment" placeholder="Matrícula"
                           ng-model="account.enrollment"
                           ng-pattern="/^[0-9]{9}$/"
                           required />
                </label>
                <div ng-messages="login.enrollment.$dirty && login.enrollment.$error" class="assertive" role="alert">
                    <small ng-message="required">A matrícula é obrigatória.</small>
                    <small ng-message="pattern">A matrícula é composto por 9 numeros.</small>
                </div>
                <label class="item item-input item-floating-label royal-border item-borderless border-bottom">
                    <span class="input-label royal">Senha</span>
                    <input type="password" name="password" placeholder="Senha"
                           ng-model="account.password"
                           required/>
                </label>
                <div ng-messages="login.password.$dirty && login.password.$error" class="assertive" role="alert">
                    <small ng-message="required">A senha é obrigatória.</small>
                </div>
                <div class="padding"></div>
                <div class="padding-top backspace">
                    <a class="button button-block button-royal"
                       ng-class="{ 'disabled' : !connection.active || login.$invalid }"
                       ng-click="validate()">
                        {{connection.active ? 'Entrar' : 'Conectando...'}}
                    </a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
