<ion-view view-title="Finalizar Cadastro">
    <ion-content>
        <form name="signup" class="list list-inset">
            <label class="item item-input item-stacked-label">
                <input name="nome" type="text"
                       ng-model="::account.name"
                       placeholder="Nome Completo" disabled>
            </label>
            <label class="item item-input item-stacked-label">
                <input name="alias" type="text"
                       ng-model="account.alias"
                       placeholder="Apelido">
            </label>
            <label class="item item-input">
                <input type="email"
                       ng-model="account.email"
                       placeholder="E-mail">
            </label>
            <div class="row padding-top">
                    <label class="toggle toggle-dark">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                <div class="col padding-left">
                    Eu aceito os
                    <a href="#/account/terms">termos de uso</a>
                </div>
            </div>

            <a class="button button-block button-positive" href="#/account/signup/confirm">
                Cadastrar
            </a>
        </form>
    </ion-content>
</ion-view>
