<ion-view view-title="Termos de Uso">
    <ion-content>
        <div class="row padding">
            <section class="col col-100 dark">
                <h1 class="dark">Termos de Uso de Aplicativo e Política de Privacidade</h1>

                <p>A seguir estão descritas as regras aplicáveis à utilização do aplicativo da Programação da BAND
                    (“Aplicativo”) disponibilizado pela RÁDIO E TELEVISÃO BANDEIRANTES LTDA. (“BAND”), sediada na Rua
                    Radiantes, 13, Morumbi, São Paulo, SP, CNPJ/MF nº 60.509.239/0001-13 (doravante “BAND”) em
                    dispositivos móveis com sistemas Android, iOs e Windows Phone.</p>

                <p>Ao realizar o cadastro para utilização do Aplicativo, o Usuário se submeterá automaticamente às
                    regras e condições destes Termos de Uso.</p>

                <p>O Aplicativo permite que o Usuário tenha acesso a informações e conteúdos relacionados à programação
                    da TV BANDEIRANTES e dentro desse contexto, possa interagir com a BAND e com os contatos de seu
                    perfil nas redes sociais (Facebook e Twitter), inclusive, enviando ou publicando textos, imagens,
                    fotografias, áudios e vídeos, além de ter acesso a outras funcionalidades disponibilizadas pelo
                    Aplicativo.</p>

                <p>O cadastro para uso do Aplicativo é realizado no primeiro acesso do Usuário que deverá escolher uma
                    das programações disponíveis e poderá cadastrar seu perfil de outras redes sociais (Facebook e
                    Twitter).</p>

                <p>Será permitido um único cadastramento por Usuário, devendo o acesso, visualização e uso do Aplicativo
                    ser feito pelo Usuário em caráter pessoal e intransferível. Não é permitido compartilhamento do
                    Aplicativo em qualquer site ou ambiente virtual.</p>

                <p>No caso de menores de 18 anos ou outras pessoas que necessitem de representação na forma da lei, o
                    cadastramento deverá ser realizado com a assistência dos pais ou dos representantes legais.</p>

                <p>É proibida a realização de mais de um cadastro por Usuário, bem como, o Usuário se utilizar do
                    cadastro de outro Usuário.</p>

                <p>A BAND poderá, sem prévio aviso, bloquear e cancelar o acesso ao aplicativo quando verificar que o
                    Usuário praticou algum ato ou mantenha conduta que (i) viole as leis e regulamentos federais,
                    estaduais e/ou municipais, (ii) contrarie as regras destes Termos de Uso, ou (iii) viole os
                    princípios da moral e dos bons costumes.</p>

                <p>Toda e qualquer ação executada ou conteúdo publicado pelo Usuário durante o uso do aplicativo será de
                    sua exclusiva e integral responsabilidade, devendo isentar e indenizar a BAND de quaisquer
                    reclamações, prejuízos, perdas e danos causados à BAND, em decorrência de tais ações ou
                    manifestações.</p>

                <p>O Usuário autoriza a BAND ou terceiros por ela indicados, a utilizar, por prazo indeterminado, as
                    informações fornecidas no ato do cadastro e durante o uso do aplicativo, para fins estatísticos e
                    envio de material publicitário, newletters, informes, etc .</p>

                <p>A BAND se reserva o direito de incluir, excluir ou alterar os conteúdos e funcionalidades do
                    aplicativo, bem como suspendê-lo temporariamente ou cancelá-lo, a qualquer momento,
                    independentemente de aviso-prévio ao Usuário. Da mesma forma, poderá modificar estes Termos de Uso,
                    cuja versão mais recente estará sempre disponível para consulta no próprio aplicativo.</p>

                <p>O Usuário é exclusivamente responsável por todo e qualquer conteúdo por ele enviado ou publicado
                    através do Aplicativo. Ao enviar/publicar o conteúdo, o Usuário garante que ele não viola quaisquer
                    direitos de terceiros ou leis vigentes e concorda em manter a BAND isenta de quaisquer reclamações
                    judiciais ou extrajudiciais de terceiros.</p>

                <p>O Usuário autoriza a BAND a utilizar o conteúdo por ele enviado ou publicado através do Aplicativo,
                    gratuitamente, por prazo indeterminado e em qualquer território, na programação da TV Bandeirantes,
                    no Portal Band.com.br, redes sociais e nos veículos pertencentes ao Grupo Bandeirantes de
                    Comunicação.</p>

                <p>A BAND SE EXIME DE TODA E QUALQUER RESPONSABILIDADE PELOS DANOS E PREJUÍZOS DE QUALQUER NATUREZA QUE
                    POSSAM DECORRER DO ACESSO, INTERCEPTAÇÃO, ELIMINAÇÃO, ALTERAÇÃO, MODIFICAÇÃO OU MANIPULAÇÃO, POR
                    TERCEIROS NÃO AUTORIZADOS, DOS DADOS DO USUÁRIO DURANTE A UTILIZAÇÃO DO APLICATIVO.</p>

                <p>As informações solicitadas ao Usuário no momento do cadastro serão utilizadas pela BAND somente para
                    os fins previstos nestes Termos de Uso e em nenhuma circunstância, tais informações serão cedidas ou
                    compartilhadas com terceiros, exceto por ordem judicial ou de autoridade competente.</p>

                <p>Fica eleito o Foro da Comarca da cidade de São Paulo, Estado de São Paulo, para dirimir quaisquer
                    questões decorrentes destes Termos de Uso, que será regido pelas leis brasileiras.</p>
            </section>
        </div>
    </ion-content>
</ion-view>
