<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item class="item-avatar">
          <img src="../img/ionic.png">
          <h2>Leonardo Freitas</h2>
          <p>200 pontos</p>
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#">
          <i class="icon ion-home"></i>
          Resumo
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#">
          <i class="icon ion-person"></i>
          Perfil
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#">
          <i class="icon ion-arrow-graph-up-right"></i>
          Progresso
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#">
          <i class="icon ion-clipboard"></i>
          Simulados
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#">
          <i class="icon ion-trophy"></i>
          Ranking
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#">
          <i class="icon ion-gear-b"></i>
          Configurações
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#">
          <i class="icon ion-help"></i>
          Ajuda
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
